div.login-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.set-buttons {
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 0px 10px;
}